@import "tailwindcss";

@theme {
    --animate-blink: blink 1s infinite ease-in-out;
    @keyframes blink {
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
